.main_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 90vh;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 4px;
    opacity: 1;
}

.sub_container{
    width: 680px;
    height: 495px;
    opacity: 1;
}

.head{
    display: flex;
    flex-direction: column; 

}