@import '../../styles/config';
@import '../../styles/mixins';

.todoFormContainer {
  margin-block-start: 2.4rem;

  > p {
    @include center-flex;
    justify-content: space-between;

    background: $background-color-form;
    border-radius: $border-radius;
    border: $border;
    height: 4.8rem;
    padding-inline-start: 1.5rem;

    &.active {
      background: $background-color-light;
    }
  }

  input {
    background: transparent;
    border: none;
    outline: none;
    width: 90%;
    padding-block: 1.5rem;

    &::placeholder {
      opacity: 0.5;
    }
  }

  button {
    @include center-flex;
    background: $secondary-color;
    cursor: not-allowed;
    width: 4.4rem;
    transition: filter 0.25s ease-in-out;

    &,
    svg {
      opacity: 0.5;
    }

    &.active,
    &.active svg {
      opacity: 1;
      cursor: pointer;
    }

    &.active:hover {
      filter: brightness(0.9);
    }
  }

  label,
  button {
    height: 4.8rem;
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
    transform: translateX(0.5px);
  }
}
