.taskListContainer {
  margin: 16px 60px 0 60px;
}

.taskListContainer ul {
  list-style-type: none;
  padding-left: 0;
}

.taskListContainer li {
  position: relative;
  display: flex;
  background: #f4f4f4;
  border: 1px solid #dbdbdb;
  margin: 8px 0;
  padding-left: 16px;
  height: 48px;
  align-items: center;
}
