.headerActions {
  margin-left: 60px;
  display: flex;
  align-items: center;
}

button {
  cursor: pointer;
  padding: 0 16px;
  height: 33px;
  border: 1px solid #dbdbdb;
  border-radius: 17px;
  background: #ffffff 0% 0% no-repeat padding-box;
  margin: 27px 8px 28px 0;
  color: #848484;
  font-family: "Roboto";
}

button.selected {
  border: 1px solid #4da6b3;
  color: #4da6b3;
  flex: none;
}

.customButton {
  margin-right: 75px;
}

.searchBar {
  padding: 0 16px 0 16px;
  margin: 0 60px 0 auto;
  width: 415px;
  height: 40px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #dbdbdb;
  border-radius: 4px;
  outline: none;
  color: #848484;
}
