.taskListContainer {
  margin: 16px 60px 0 60px;
}

.taskListContainer ul {
  list-style-type: none;
  padding-left: 0;
}

.taskListContainer li {
  padding-right: 100px;
  position: relative;
  display: flex;
  background: #f4f4f4;
  border: 1px solid #dbdbdb;
  margin: 8px 0;
  padding-left: 16px;
  height: 48px;
  align-items: center;
}

.plusIcon {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  position: absolute;
  right: 60px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  padding: 12.5px;
  color: white;
  background-color: #4da6b3;
  font-size: 25px;
}

.checkCircleIcon {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  position: absolute;
  right: -0.5px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  padding: 12.5px;
  color: white;
  background-color: #5de290;
  font-size: 25px;
}

.plusIcon,
.checkCircleIcon,
.minusIcon {
  transition: opacity 0.3s ease;
}

.plusIcon:hover,
.checkCircleIcon:hover,
.minusIcon:hover {
  opacity: 0.8;
}

.checkCircleIcon.edit {
  margin-left: -50px;
  top: unset;
  transform: unset;
  right: unset;
}

.minusIcon {
  position: absolute;
  right: 49px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  padding: 12.5px;
  color: white;
  background-color: #e34f4f;
  font-size: 25px;
}

.addItem {
  position: relative;
}

.noTasksMessage {
  color: #848484;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin-top: 38px;
}

.editInput {
  height: 48px;
  margin: 0;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #dbdbdb;
}

.taskListItem.editReset {
  all: unset;
}

.clearFilterLink {
  cursor: pointer;
  text-decoration: underline;
}
