.conatiner_taskItem{
    width: 100%;
    height: 48px;
    background-color:var(--background-component) ;
    border: 1px solid #DBDBDB;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    border-radius: 4px;
    padding: 0.5em 0em 0.5em 1em;
    overflow: hidden;
    margin: 0.3em 0em;
}
.conatiner_taskItem input{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0em;
    border: 0;
    background-color: transparent;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.buttons_taskItem{
    display: flex;
    width: auto;
    height: 100%;
    justify-content: center;
    align-items: center;
}
