.p-0{
    width: 0%;
}
.p-5{
    width: 5%;
}
.p-10{
    width: 10%;
}
.p-15{
    width: 15%;
}
.p-20{
    width: 20%;
}
.p-25{
    width: 25%;
}
.p-30{
    width: 30%;
}
.p-33{
    width: 33%;
}
.p-35{
    width: 35%;
}
.p-40{
    width: 40%;
}
.p-45{
    width: 45%;
}
.p-50{
    width: 50%;
}
.p-55{
    width: 55%;
}
.p-60{
    width: 60%;
}
.p-65{
    width: 65%;
}
.p-67{
    width: 67%;
}
.p-70{
    width: 70%;
}
.p-75{
    width: 75%;
}
.p-80{
    width: 80%;
}
.p-85{
    width: 85%;
}
.p-90{
    width: 90%;
}
.p-95{
    width: 95%;
}
.p-100{
    width: 100%;
}
