@import '../../styles/config';
@import '../../styles/mixins';

.chipsContainer {
  @include center-flex;
  font-size: 1.4rem;
  list-style: none;
  user-select: none;

  li ~ li {
    margin-inline-start: 0.8rem;
  }

  button {
    @include center-flex;
    border-radius: 20rem;
    border: $border;
    cursor: pointer;
    max-height: 3.3rem;
    padding: 0.7rem 1.6rem;
    transition: background-color 0.2s linear, border-color 0.3s ease-in-out;

    &.active {
      background: #f7f7f8;
      border: 1px solid $secondary-color;
      color: $secondary-color;

      svg {
        margin-inline-end: 0.4rem;
      }
    }
  }
}
