// color palette
$primary-color: #5de290;
$second-color: #4da6b3;
$accent-color: #e34f4f;

$background-color-dark: #555;
$background-color-light: #fff;
$progress-bar-background-color: #e4e4e4;

$grey-500: #848484;

// variables
$border-radius: 4px;
$border: 1px solid #dbdbdb;
