@import './reset';
@import './config';

// Typography
html {
  font-size: 62.5%; // 1 rem => 10px
}

body,
input,
textarea {
  color: $grey-500;
  font-family: 'Roboto', sans-serif;
  font-size: 1.4rem; // 14px
  font-weight: 400;
}

body {
  background: $background-color-dark;
}
