@import '../../styles/config';
@import '../../styles/mixins';

.inputContainer {
  @include center-flex;
}

.searchBarContainer {
  @include center-flex(column-reverse);
  align-items: flex-end;
  gap: 1rem;

  @include desktop {
    @include center-flex;
  }
}

.inputContainer {
  border-radius: $border-radius;
  border: $border;
  height: 4rem;
  justify-content: space-between;
  margin-inline-start: auto;
  padding-inline: 1rem;
  width: clamp(1rem, 100%, 45rem);

  input {
    background: transparent;
    border: none;
    outline: none;
    width: 90%;
  }

  label,
  svg,
  button {
    height: 100%;
  }

  @include desktop {
    button {
      margin-inline-end: 0.6rem;
    }
  }
}
