.container_searchBar{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #DBDBDB;
    border-radius: 4px;
    padding: 0.5em 0em 0.5em 1em;
}
.container_searchBar input{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    height: 100%;
    padding: 0em;
    border: 0;
    background-color: transparent;
}
