:root {
  --grey-dark: #848484;
  --grey-darker: #555555;
  --blue-light: #4DA6B3;
  --blue-darker: #4DA6B3;
  --white: #FFFFFF;
  --white-darker: #F7F7F7;
  --grey: #f4f4f4;
  --grey-light: #DBDBDB;
  --warning-red: #E34F4F;
  --done-green: #5DE290;
  --fonte-principal: 'Roboto', sans-serif;
  --fonte-secundaria: 'Archivo', sans-serif;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  z-index: 0;
  background-color: var(--grey-darker);
  display: flex !important;
}

html,
body {
  height: 100%;
  margin: 0;
}

html,
#szb-app-root {
  display: flex;
  justify-content: center;
  align-items: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@media screen and (max-width: 768px) {
  body {
    height: auto !important;
  }
}