.search-container {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  padding: 25px 0px 25px;
  gap: 10px;
}

.search-input-container {
  height: 40px;
  width: 450px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #dbdbdb;
  border-radius: 4px;
  opacity: 1;
  align-items: center;
  padding: 15px;
}

.search-input {
  outline: none;
  border: 0;
  font: normal normal normal 14px/19px Roboto;
  color: #848484;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.buttons button {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #dbdbdb;
  border-radius: 20px;
  opacity: 1;
  font: normal normal normal 14px/19px Roboto;
  letter-spacing: 0px;
  color: #848484;
  opacity: 1;
  padding: 0.5em 1em;
  display: flex;
  gap: 5px;
  align-items: center;
}

.active {
  background: #f7f7f8 0% 0% no-repeat padding-box !important;
  border: 1px solid #4da6b3 !important;
  color: #4da6b3 !important;
}

.icon {
  color: #848484;
}

.close {
  cursor: pointer;
}

@media screen and (max-width: 650px) {
  .buttons {
    margin-left: auto;
  }
}
