main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container_home{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
.section-filters_home{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0.5em 0em;
    width: 100%;
    height: 91px;
}
.filters_home{
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
    height: auto;
}
.list-tasks_home{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: auto;
}
.container-overflowTasks{
    display: flex;    
    width: 100%;
    height: 100%;
    overflow-y: none;
}
.search_home{
    display: flex;
    width: 100%;
    height: auto;
}

@media (min-width: 1200px) {
    .container-overflowTasks{
        display: block;
        width: 100%;
        height: 270px;
        overflow-y: scroll;
    }
    .container-overflowTasks::-webkit-scrollbar{
        width: 0px;
    }
}
@media (min-width: 800px) {
    .section-filters_home{
        flex-direction: row-reverse;
        justify-content: space-between;
        height: 60px;
    }
    .filters_home{
        width: auto;
    }
    .search_home{
        width: 450px;
        height: auto;
        display: block;
    }
}

